*
*/

!.gitignore
!README.md

!.github
!.github/*
!.github/workflows
!.github/workflows/*

!.env.example
!sonarr-tagger
!sonarr-tagger/*
!requirements.txt
!requirements-dev.txt
!Dockerfile
!.pylintrc
!pytest.ini
!conftest.py
!tests
!tests/*
